@font-face {
	font-family: OptimusPrinceps;
	src: url(imagenes/OptimusPrinceps.ttf);
}
body {
	background-image: url("imagenes/background1.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
}
h1 {
	font-family: OptimusPrinceps;
	font-size: 85px;
	float: right;
	margin-right: 20%;
	color: white;
}
.cebolla {
	float: left;
	width: 200px;
	height: 250px;
}
header {
	float: left;
	width: 100%;
}
td {
	font-family: OptimusPrinceps;
	float: right;
	width: 96.5%;
	color: white;
	font-size: 25px;
	background-color: black;
	opacity: 0.7;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.darksouls{
	background-color: transparent;
	opacity: 1;
}
.anorlondo{
	background-color: transparent;
	opacity: 1;
}
.menu {
	font-family: OptimusPrinceps;
	float: left;
	font-size: 25px;
	background-color: white;
	opacity: 0.7;
	width: 12%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;	
}
.home {
	text-decoration: overline;
}
footer {
	text-align: center;
	color: white;
	clear: both;
	padding-top: 3%;
}